<div
  class="flex flex-col-reverse justify-end md:flex-row md:items-center dark:bg-gray-900 dark:text-white"
>
  <div class="flex items-center">
    <div class="flex items-center gap-2.5">
      <!-- Usuario logueado -->
      @if (user) {
      <span class="ml-4 font-semibold text-gray-800 dark:text-white">
        {{ user.username }}
      </span>
      }

      <!-- Logout -->
      <button
        class="w-full flex items-center justify-center px-4 py-1.5 text-sm font-medium text-white bg-red-500 dark:bg-red-600 rounded-md hover:bg-red-700 dark:hover:bg-red-700 focus:ring-2 focus:ring-red-300 dark:focus:ring-red-800 transition-colors duration-200 cursor-pointer"
        (click)="logOut()"
      >
        <span>Logout</span>
        <svg
          class="w-4 h-4 ml-2"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H7a2 2 0 01-2-2V7a2 2 0 012-2h4a2 2 0 012 2v1"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
